<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myCSS.css">
</head>

<body>
    <div id="app">
        <!-- 1. v-model 綁定 -->
        <div class="demo">
            <h2>1. v-model</h2>
            <input type="text" class="form-control" v-model="mytitle">
        </div>
        <p class="h3">你輸入的字為:{{mytitle}}</p>
        <div v-text="mytitle"></div>
        <div v-html="mytitle"></div>
        <!-- 上方有文字及html顯示 -->

        <!-- 2. v-bind 綁定 -->
        <div class="demo">
            <h2>2. v-bind</h2>
            <img v-bind:src="imgSrc" alt="" class="w-50">
        </div>
        <!-- 4. tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <!-- 點擊將資料帶入草莓,再判斷是否為草莓並active按鈕 -->
                <a class="nav-link" href="#" v-on:click.prevent="mylink = '草莓'" v-bind:class="{'active' : mylink == '草莓'}">草莓</a>
                <!-- .prevent為鎖住不讓點擊跳至最上方 -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" v-on:click.prevent="mylink = '香蕉'" v-bind:class="{'active' : mylink == '香蕉'}">香蕉</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" v-on:click.prevent="mylink = '西瓜'" v-bind:class="{'active' : mylink == '西瓜'}">西瓜</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-on:click.prevent="mylink = '水蜜桃'" v-bind:class="{'active' : mylink == '水蜜桃'}">水蜜桃</a>
            </li>
        </ul>
        <ul class="list-group my-3">
            <template v-for="(item, key) in list">
                <li class="list-group-item" v-if="item.product == mylink">
                    {{ item.city}} 地區的 {{ item.product}} 1公斤, 賣 {{ item.price}} 元.
                </li>
            </template>
        </ul>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            data() {
                return {
                    text01: 'hello world!',
                    text02: 'hello 002!',
                    mytitle: 'vue 教學示範',
                    imgSrc: 'images/hug.jpg',
                    mylink: '草莓',
                    list: [
                        {
                            product: '草莓',
                            price: 100,
                            city: '台中市'
                        },
                        {
                            product: '草莓',
                            price: 150,
                            city: '台北市'
                        },
                        {
                            product: '香蕉',
                            price: 180,
                            city: '台北市'
                        },
                        {
                            product: '香蕉',
                            price: 100,
                            city: '台南市'
                        },
                        {
                            product: '西瓜',
                            price: 200,
                            city: '台南市'
                        },
                        {
                            product: '西瓜',
                            price: 200,
                            city: '彰化市'
                        },
                        {
                            product: '西瓜',
                            price: 200,
                            city: '新北市'
                        },
                        {
                            product: '水蜜桃',
                            price: 500,
                            city: '新北市'
                        },
                        {
                            product: '水蜜桃',
                            price: 600,
                            city: '南投縣'
                        },
                    ]
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>